body{background-color: #f2f2f2;}
h1{font-size: 24px;font-weight:600;text-align: center;margin:20px 0;letter-spacing: 5px;color: #151515;}
h2{font-size: 24px;font-weight:600;text-align: left;color: #151515;margin: 30px 0;}
p{line-height: 28px;text-indent: 28px;font-size: 14px;color: #151515;}
.aggravate{font-weight: 600;}/*加重*/
.explain_text{line-height: 32px;font-weight: 600;}
table, tr, td, th, tbody, thead, tfoot {page-break-inside: avoid !important;}/*禁止插入分页符*/
.essentialInformation{width: 100%;position: relative;}
.imageList{margin-right: 10px;}
.subject{padding: 10px;box-sizing: border-box;max-width: 900px;margin: 0 auto;background-color: #fff;}
/*封面*/
.frontCover{page-break-after: always;text-align: center;}
.frontCover .bitmap{max-width: 100%;}
.frontCover .frontCover_title{width: 100%;padding-top: 100px;margin-bottom: 60px;}
.frontCover .frontCover_title .frontCover_title_name{font-size: 42px;color: #151515;font-weight: 600;}
.frontCover .frontCover_title .frontCover_title_litter{font-size: 14px;color: #7c7c7c;margin-top: 15px;}
.frontCover .information{width: initial;min-width:300px;max-width: 410px;margin: 100px auto 80px;font-size: 18px;}
.frontCover .information li{margin-bottom: 20px;display: flex;align-items:center;}
.frontCover .information .information_name{color: #5d5d5d;}
.frontCover .information .information_value{color: #2c2c2c;margin-left: 10px;}
.frontCover .sign{color: #7c7c7c;font-size: 16px;}
/*评估介绍*/
.currency{width: 100%;background-color: #fff;padding: 50px 20px 30px;box-sizing: border-box;page-break-after: always;}
.layui-table tbody tr:hover,.layui-table[lay-even] tr:nth-child(even){background-color: #fff;}
.personal td{font-size: 18px;}
.personal .portrait{width: 150px;}
.personal .portrait_f{width: 250px;}
.personal .portrait_name{color: #6c6c6c;}
.personal .portrait_value{color: #151515;}
/*评估结果*/
.assessment_value{font-size: 16px;color: #6c6c6c;}
.assessment_legend{text-align: right;}
.assessment_legend li{display: inline-block;}
.assessment_explain{font-size: 16px;color: #151515;margin-bottom: 20px;}
.assessment_explain li{font-size: 14px;color: #666;line-height: 28px;margin-bottom: 10px;}
.assessment_results{font-size: 14px;color: #151515;margin-bottom: 40px;line-height: 28px;}
.assessment_results li{display: flex;margin-bottom: 20px;}
.assessment_results li .layui-badge-div{width: 30px;margin-right: 5px;}
/*图表*/
.analysis_chart,.analysis_chart1,.analysis_chart2{width: 100%;margin-bottom:20px;text-align: center;}
.analysis_chart{height: 700px;max-width: 800px;}
.analysis_chart1{height: 350px;max-width: 800px;}
.analysis_chart2{height: 100px;max-width: 800px;}
.analysis_chart3{height: 350px;max-width: 500px;margin: 0 auto;}
/*图例*/
.assessment_legend{text-align: left;width: 100%;box-sizing: border-box;font-size: 14px;}
.assessment_legend li{display: inline-block;margin-right: 5px;    margin-bottom: 0;}
.assessment_legend li .layui-badge-dot{margin-right: 5px;width: 12px;height: 12px;vertical-align: middle;}
.assessment_legend li:nth-child(3) .layui-badge-dot{background-color: #ff3b30;}
.assessment_legend li:nth-child(2) .layui-badge-dot{background-color: #fc0;}
.assessment_legend li:nth-child(1) .layui-badge-dot{background-color: #4cd964;}
.professional li:nth-child(3) .layui-badge-dot{background-color: #ff9500;}
.professional li:nth-child(4) .layui-badge-dot{background-color: #ff3b30;}
.concreteAnalysis li{font-size: 14px;}