.layui-input-block{margin-left: 85px;}
.center_btn{text-align: center;}
.center_btn .layui-btn{width: 96px;}
.addBatch_form{padding: 20px 30px;}
.batch_add p{padding: 5px 0;}
.batch_add .layui-btn-xs{padding: 0;font-size: 14px;}
.batch_add .layui-form-mid{color: #888;}