.main_body{width: 100%;background-color: #fbfbfb;}
/*顶部*/
.layui-layout-admin .layui-header{background-color: transparent;height: 64px;}
.layui-layout-admin .layui-side,.layui-layout-admin .layui-body{top: 64px;bottom: 0;}
.layui-nav *{user-select: none;}
/*顶部导航*/
.layui-layout-admin .layui-main{background-color: #002140;margin: 0;height: 100%;}
.layui-main .logo{float: left;font-size: 20px;color: #fff;height: 100%;line-height: 64px;padding: 0 20px;font-weight: 600;}
.layui-layout-admin .layui-header .layui-nav{padding: 0;font-size: 16px;float: right;height: 100%;}
.layui-nav-bar,.layui-nav .layui-this:after{height: 0;}
.top_menu * {-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;font-size: 16px;display: inline-block;}
/*主体*/
.layui-layout-admin .layui-side,.layui-nav-tree{width: 220px;}
.layui-body{left: 220px;}
.layui-side-scroll{width: 228px;background-color: #001a31;}
.clildFrame{width: 100%;height: 100%;background-color: #f0f2f5;overflow-y: hidden;}
iframe{border:none;width: 100%;height: 99%;}
/*左侧导航*/
.navBar .layui-nav{vertical-align: top;background-color: #001a31;height: 100%;}
.layui-nav-tree .layui-nav-child dd.layui-this a,.layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{background-color: #1890ff;}
.layui-nav-tree .layui-nav-bar{background-color: #1890ff;}
.layui-nav-tree .layui-nav-item{cursor: pointer;}
.layui-nav-tree .layui-nav-child dd a{padding-left: 40px;}
.layui-nav-tree .layui-icon{margin-right: 6px;}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {width: 8px;height: 8px;background-color: #f0f2f5;}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f9f9f9;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f1f1f1;
}