/*tab-ul*/
.newlyBuild{text-align: center;position: relative;border-bottom-width: 0 !important;
    pointer-events: none;cursor: default;}
.newlyBuild li{width: 180px;box-sizing: border-box;margin: 0 30px;color: #c7c7c7;z-index: 10;background-color: #fff;}
.newlyBuild li .layui-badge{width: 32px;height: 32px;border-radius: 50%;box-sizing: border-box;font-size: 16px;
    line-height: 32px;margin-right: 15px;background-color: #fff;border: 1px solid #c7c7c7;color: #c7c7c7;}
.newlyBuild .layui-this .layui-badge{background-color:#1890ff!important;color: #fff;border-color:#1890ff;}
.newlyBuild .baseline{width: 880px;height: 1px;background-color: #e6e6e6;position: absolute;top: 20px;left: 50%;
    margin-left: -440px;}
.newlyBuild .layui-this:after{border-bottom-width: 0 !important;}
.layui-tab-brief>.layui-tab-title .layui-this{color: #1890ff;}
/**************************************************************************/
.sort_btn{display: inline-block;cursor: pointer;margin: 0 5px;}
.complete{display: inline-block;width: 32px;height: 32px;vertical-align: middle;margin-right: 10px;
    background: url("../img/tick.png") no-repeat;background-size: 32px;}
.layui-tab-item{width: 100%;}
.editPage{width: 700px;margin: 40px auto;}
.evaluation_form{padding: 20px 40px;}
.evaluation_form .layui-form-label{padding: 10px 0;}
.layui-form-item .layui-input-block{margin-left: 90px;}
.center_btn{text-align: center;margin-bottom: 0;}
.layui-input.layui-table-edit{margin-top: 12px;}
.layui-transfer-box{border-radius: 4px;}
.layui-form-item .layui-transfer-active .layui-btn{width: 30px;height: 30px;float: inherit;line-height:inherit;margin-top:0;
    padding: 0 7px;border-radius: 50%;}
.layui-tree-entry:hover{background-color: #fff;}
.layui-tree-pack{padding-left: 30px;}
.layui-transfer-active .layui-btn,.layui-transfer-active .layui-btn:hover{background-color: #338dfc;border-color: #338dfc;color: #fff;}
.layui-transfer-active .layui-btn-disabled,.layui-transfer-active .layui-btn-disabled:hover{background-color: #FBFBFB;border-color: #e6e6e6;color: #C9C9C9;}
.watchHeads{padding: 0 10px;}
p{padding: 6px 0;}





