<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>压缩包下载</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/libs/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/common.css" media="all" />
</head>
<body class="childrenBody">
<!--路径导航-->
<div class="common">
	<span class="layui-breadcrumb">
		<a href="javascript:;">当前位置</a>
		<span lay-separator="">：</span>
		<a href="javascript:;">任务管理</a>
		<span lay-separator="">/</span>
		<a href="javascript:;"><cite>压缩包下载</cite></a>
	</span>
</div>
<div class="subject">
    <div class="currency">
        <!--表单查询-->
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">压缩包名称：</label>
                    <div class="layui-input-inline" style="width: 420px;">
                        <input type="text" name="winrarName" class="layui-input" placeholder="请输入" autocomplete="off">
                    </div>
                </div>
                <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="addNews">查找</button>
            </div>
        </form>
        <!--表格内容-->
        <div class="tableTitle">报告压缩包列表</div>
        <table class="layui-table" lay-filter="test" id="table" lay-data="{height: 'full-200'}"></table>
        <div id="page" class="page"></div>
    </div>
</div>
<script type="text/javascript" src="/libs/layui/layui.js"></script>
<script type="text/javascript" src="/utils/DateUtils.js"></script>
<script type="text/javascript" src="/js/cars/cars-total-info.js"></script>
</body>
</html>