<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>任务记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../libs/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../../css/common.css" media="all" />
</head>
<body class="childrenBody">
<!--路径导航-->
<div class="common">
	<span class="layui-breadcrumb">
		<a href="javascript:;">当前位置</a>
		<span lay-separator="">：</span>
		<a href="javascript:;">车辆档案管理</a>
		<span lay-separator="">/</span>
		<a href="javascript:;"><cite>明细信息管理</cite></a>
	</span>
</div>
<div class="subject">
    <div class="currency">
        <!--表单查询-->
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">vin码：</label>
                    <div class="layui-input-inline input_wide">
                        <input type="text" name="carVin" class="layui-input" placeholder="请输入" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">电池编号：</label>
                    <div class="layui-input-inline input_wide">
                        <input type="text" name="batteryNumber" class="layui-input" placeholder="请输入" autocomplete="off">
                    </div>
                </div>
                <!--<div class="layui-inline">
                    <label class="layui-form-label">任务状态：</label>
                    <div class="layui-input-inline input_wide">
                        <select name="missionStatus">
                            <option value=""></option>
                            <option value="1">未开始</option>
                            <option value="2">进行中</option>
                            <option value="3">已过期</option>
                        </select>
                    </div>
                </div>-->
                <div class="layui-inline">
                    <label class="layui-form-label">汽车车牌号：</label>
                    <div class="layui-input-inline input_wide">
                        <input type="text" name="carNumber" class="layui-input" placeholder="请输入" autocomplete="off">
                    </div>
                </div>
                <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="addNews">查找</button>
                <button class="layui-btn layui-btn-primary btn-65" type="reset">重置</button>
            </div>
           <!-- <div class="layui-form-item">

            </div>-->
        </form>
        <!--表格内容-->
        <div class="news_list">
            <button type="reset" class="layui-btn layui-btn-normal" id="newTask"><i class="layui-icon">&#xe654;</i>新增</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="exportTask">导出列表</button>
            <button type="reset" class="layui-btn" id="batchExport">批量导入</button>
        </div>
        <table class="layui-table" lay-filter="test" id="table" lay-data="{height: 'full-200'}"></table>
        <div id="page" class="page"></div>
    </div>
</div>
<script type="text/javascript" src="/libs/layui/layui.js"></script>
<script type="text/javascript" src="/js/cars/cars-info.js"></script>
</body>
</html>